.App {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    flex-direction: row;
    padding: 3rem;
    margin: 2rem;
}

.add-result {
    display: flex;
}

.add-result__score {
    width: 3rem;
    margin: 0 1rem;
    padding: 0;
    text-align: center;
    appearance: text;
}

@media (max-width: 960px) {
    .App {
        grid-template-columns: 1fr;
        gap: 4rem;
    }
}
