.league-table__table {
    width: 100%;
    margin-bottom: 3rem;
    background-color: #ffffff;
    border-collapse: collapse;
    box-shadow: 0 .2rem 2rem #ddd;
}

.league-table__header {
    background-color: #111111;
    color: #ffffff;
}

.league-table th,
.league-table td {
    padding: 1.2rem .4rem;
    text-align: center;
}

.league-table__row + .league-table__row td {
    border-top: 1px solid #e5ecf2;
}

.league-table__row .player-results {
    max-height: 200rem;
    overflow: hidden;
}

.league-table__row--champion {
    background-color: gold;
}

.league-table__row--champion .league-table__team,
.league-table__row--champion .league-table__arrow {
    color: #000000;
}

.league-table__row--results td {
    padding-top: 0;
    cursor: default;
}

.league-table__row--closed .player-results {
    max-height: 0;
}

.league-table__row--closed td {
    padding: 0;
    border-top: 0 !important;
}

.league-table__arrow {
    margin-right: .5rem;
    font-size: 1rem;
    color: #bbb;
}

.league-table__row:hover {
    cursor: pointer;
}

.league-table__row:hover .league-table__arrow {
    color: #000000;
}

.league-table .league-table__player {
    padding-left: 1.6rem;
    font-weight: bold;
    text-align: left;
}

.league-table__team {
    margin-left: .6rem;
    font-size: 1.1rem;
    color: #bbb;
}

.league-table__points {
    font-weight: bold;
}

@media (max-width: 960px) {

    .league-table {
        margin-bottom: 0;
    }
}

@media (max-width: 600px) {

    .league-table__team {
        display: block;
        margin-left: 0;
    }
}
