.league-table {
    width: 100%;
    margin-bottom: 3rem;
    background-color: #ffffff;
    border-collapse: collapse;
    box-shadow: 0 .2rem 2rem #ddd;
}

.league-table__header {
    background-color: #111111;
    color: #ffffff;
}

.league-table th,
.league-table td {
    padding: 1.2rem .4rem;
    text-align: center;
}

.league-table__row + .league-table__row td {
    border-top: 1px solid #e5ecf2;
}

.league-table .league-table__player {
    padding-left: 1.6rem;
    font-weight: bold;
    text-align: left;
}

.league-table__team {
    margin-left: .6rem;
    font-size: 1.1rem;
    color: #bbb;
}

.league-table__points {
    font-weight: bold;
}

@media (max-width: 600px) {

    .league-table__team {
        display: block;
        margin-left: 0;
    }
}
